.system-message__glyphicon-holder{
    position: absolute;
}

.system-message__glyphicon-holder>span{
    font-size: 1.5em;
}

.system-message > div{
    display: inline-block;
}

.system-message__message-holder {
    margin-left: 35px;
    display: table;
    height: 1.5em;
}
.system-message__message-holder > p {
    font-size: 1.2em;
    display:table-cell;
    vertical-align: middle;
}
