<div class="product-info-container"
 {{action headerClicked}}>{{item.title}} (click to {{if isExpanded 'close' 'open'}})</div>
{{#if isExpanded}}
  <div class='details'>{{item.details}}</div>
{{/if}}
