<!-- <div class='accordion' id='tree_accordion'> -->
<!-- <div class='header'>
  <li>{{yield}}</li>
</div> -->
<!-- </div> -->

<div data-toggle="collapse" data-target="#headerDetails" class="collapsed">
 <br><b align="center">{{yield}}</b><br/>
</div>
